<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" version="1.0.6">

	<name>Crypto</name>
	 
	<description>
		Crypto Plugin Description
	</description>
	
	<license>MIT</license>

	<js-module src="www/Crypto.js" name="Crypto">
		<clobbers target="Crypto" />
	</js-module>

	<!-- wp7 -->
    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="Crypto">
                <param name="wp-package" value="Crypto"/>
            </feature>
        </config-file>
        <source-file src="src/wp7/Crypto.cs" />
    </platform>
</plugin>